.description span, .description li{
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0.3em;
    
}




.title{
    font-size:3rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.pharm-container{
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Добавим промежуток между элементами */
    margin-bottom: 7rem;
}

.subtitle{
    font-size: 2.5rem;
    font-weight: 700;
    color: #16354D;
    margin-bottom:2.5rem;
}

.pharm-text{
    font-size: 1.125rem;
    font-weight: 500;
}


.pharm-img-container {
    display: flex;
    flex-direction: column;
    width: 40%; /* Ширина контейнера изображения равна 100% */
    gap:2rem;
    justify-content: center;
    margin: 0;
    
}

.pharm-img-container img {
    width: 100%; /* Изображение занимает максимальную ширину контейнера */
    height: auto;
    
}

.text-container{
    width: 50%;
}

.ph-ul{
    margin-top:2rem;
}

.ph-ul li {
    margin: 1rem;
    margin-left:3rem;
    
}

@media (max-width: 992px) {
    html{
        font-size: 16px;
    }
    
    .pharm-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; /* Добавим промежуток между элементами */
        
    }
    .text-container{
        width: 80%;
        margin-bottom:3rem;
    }

    .pharm-img-container{
        width: 60%;
    }
    


}

@media (max-width: 769px) {
    html{
        font-size: 14px;
    }

    .text-container{
        width: 85%;
        margin-bottom:3rem;
    }

    .pharm-img-container{
        width: 70%;
    }
    .title{
        text-align: center;
    }
    

}
@media (max-width: 480px) {
    html{
        font-size: 11px;
    }
    
    .text-container{
        width: 90%;
        margin-bottom:3rem;
    }

    .pharm-img-container{
        width: 80%;
    }

}


