hr{
    align-items: end;
    position: relative;
    width: auto;
    background-color:#FFF;
    margin-bottom: 1rem;
    margin-top: 8rem;
    
}

q {
    font-family: Arial, Helvetica, sans-serif;
    quotes: '«' '»';
    color: #FFF;
    font-weight: 500;
    font-size: 1.4rem;
    background-color: inherit;


    
  }

.employee-container{
    display: flex;
    flex-direction: column;
    
}

.employee-title{

    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 4%;

}

.employee-img{
    width: 25rem;
    height: auto;
    border-radius: 70px;
    align-self: flex-start;
}

.info-container{
    display: flex;
    align-items: stretch; 
    gap:3rem;
}

.description-container *{
    font-family: Inter, Arial, Helvetica, sans-serif;
    flex-grow: 1;

}
.description-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #2A7096 ;
    
    border-radius: 30px;
    padding: 2rem;
    align-self: stretch;
    min-height: 100%;

}

.specialization{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color:#fff;
    background-color: inherit;

}


.desc-subtitle{
    font-size: 1.6rem;
    font-weight: 500;
    color:#fff;
}

.desc-text{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top:1rem;
    color:#fff;
    background-color: inherit;

    
}

.quote{
   margin-top: auto;
   background-color: inherit;

   
}

.appoinment-button{
    padding: 1rem;
    
    text-decoration: none;
    margin-left:0;
    background-color: #FFF;
    border-radius: 15px;
    color: #075985;
    font-size: 1.2rem;
    font-weight: 600;
    transition: transform 0.3s ease; /* Плавная анимация трансформации */
    text-align: center;
    white-space: nowrap;
    width: 55%;
    margin-top:3rem;
}

.appoinment-button:hover{
    background-color: #E4E5EA;
}

.subtitle{
    font-size: 2.5rem;
    margin-bottom:3rem;
    margin-top: 4rem;
}
@media (max-width: 992px) {
    html{
        font-size: 16px;
    }
    
    .info-container{
        flex-direction: column;
    }
    .employee-img{
        width: 30rem;
        align-self:center;
    }
    .employee-title{
        text-align:center;
    }
}


@media (max-width: 769px) {
    html{
        font-size: 14px;
    }
    .employee-img{
        width: 25rem;
    }
    
}


@media (max-width: 480px) {
    html{
        font-size: 11px;
    }
    .appoinment-button{
        width: 20rem;
    }

}
